:root {
	--default-green: #1db954;
	--light-green: #1ed760;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

body {
	font-family: var(--font-family, var(--fallback-fonts, sans-serif)), Helvetica, Arial, sans-serif;
}

body .form-group, label {
	font-family: var(--font-family, var(--fallback-fonts, sans-serif)), Helvetica, Arial, sans-serif;
	font-size: 13px;
}




/****************** Utility Classes **************/

.btn-primary {
	background: var(--default-green);
	color: white;
	text-transform: uppercase;
	padding: 15px 60px;
	border: none;
	border-radius: 30px;
	letter-spacing: 1px;
	font-weight: bold;
	transition: all 300ms ease;
}

.btn-primary:hover {
	background: var(--light-green);
	cursor: pointer;
}

.logo {
	height: 40px;
	width: auto;
}


/********************** Navbar *********************/

#navbar {
	display: flex;
	background-color: rgba(0, 0, 0, 0.6);
	color: white;
	justify-content: center;
	position: fixed;
	top: 0;
	width: 100%;
}

#navbar .navbar-container {
	width: 60%;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 20px 0;
}

#navbar .navbar-container ul {
	display: flex;
	list-style: none;
	font-weight: bold;
}

#navbar .navbar-container ul li {
	padding: 0 20px;
	transition: all 300ms ease;
}

#navbar .navbar-container ul li:hover {
	color: #1db954;
	cursor: pointer;
}

#navbar .navbar-container ul li:nth-child(3) {
	border-right: 1px solid white;
}

/* Estilo específico para o botão Inscrever-se */
#navbar .navbar-container ul li a.link {
    color: white; /* Cor do texto */
    text-decoration: none; /* Remove o sublinhado */
}

#navbar .navbar-container ul li a.link:hover {
    color: #1db954; /* Cor ao passar o mouse */
}



/****************** Showcase *****************/

#showcase {
	height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
	color: white;
	background: url("/img/showcase.webp") center center/cover;
	background-color: rgba(0, 0, 0, 0.4);
	background-blend-mode: color;
}

#showcase .showcase-container {
	display: flex;
	flex-direction: column;
	align-items: center;
}

#showcase .showcase-container h2 {
	font-size: 5rem;
}

#showcase .showcase-container p {
	margin: 15px 0;
	font-size: 1.1rem;
}


/******************* Footer ****************/

#footer {
	background: black;
	color: white;
	padding: 80px 0;
}

#footer .footer-content {
	display: flex;
	width: 60%;
	margin: auto;
	justify-content: space-between;
}

#footer .footer-content .footer-menu {
	margin: 0 60px;
	list-style: none;
}

#footer .footer-content .footer-menu .footer-menu-item {
	margin: 25px 0;
	transition: all 300ms ease;
}

#footer .footer-content .footer-menu .footer-menu-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

#footer .footer-content .footer-menu p {
	font-weight: bold;
	text-transform: uppercase;
	color: #919496;
	font-size: 0.8rem;
}


/********************** Footer Socials ****************/

.socials {
	display: flex;
}

.socials i {
	margin: 0 20px;
	font-size: 1.7rem;
	transition: all 300ms ease;
}

.socials i:hover {
	color: var(--default-green);
	cursor: pointer;
}



/**************** Footer Info *************/

.footer-info {
	display: flex;
	justify-content: space-between;
	align-items: flex-end;
	width: 60%;
	margin: auto;
	font-weight: bold;
	color: #919496;
	font-size: 0.75rem;
	padding-top: 50px;
}

.footer-info .footer-info-items {
	display: flex;
	list-style: none;
}

.footer-info .footer-info-items .footer-info-item {
	margin: 0 10px;
	transition: all 300ms ease;
}

.footer-info .footer-info-items .footer-info-item:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	margin-bottom: 10px;
}

.footer-info .rights .country p {
	transition: all 300ms ease;
}

.footer-info .rights .country p:hover {
	color: var(--default-green);
	cursor: pointer;
}

.footer-info .rights .country .brazil-flag {
	height: 20px;
	width: auto;
	display: inline-block;
	margin-left: 10px;
}



/*************** Cadastro ***********/

#cadastro {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgb(0, 0, 0));
    color: white;
}

#cadastro .cadastro-container {
    background: rgba(0, 0, 0, 0.51);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

#cadastro .cadastro-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cadastro .cadastro-form {
    display: flex;
    flex-direction: column;
}

#cadastro .cadastro-form .form-group {
    margin-bottom: 15px;
}

#cadastro .cadastro-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#cadastro .cadastro-form .form-group input {
	background-color: rgba(0, 0, 0, 0);
	width: 100%;
    padding: 10px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
}

#cadastro .cadastro-form .form-group input:hover {
	color: white;
}

#cadastro .cadastro-form .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

#cadastro .cadastro-form .form-group.terms {
    display: flex;
    align-items: center;
}

#cadastro .btn-primary {
    width: 100%;
    padding: 15px;
    text-align: center;
}



/*************** Login ***********/

#login {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgb(0, 0, 0));
    color: white;
}

#login .login-container {
    background: rgba(0, 0, 0, 0.51);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

#login .login-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#login .login-form {
    display: flex;
    flex-direction: column;
}

#login .login-form .form-group {
    margin-bottom: 30px;
}

#login .login-form .form-group input {
    background-color: rgba(0, 0, 0, 0);
	width: 100%;
    padding: 10px;
	border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
}

#login .btn-primary {
    width: 100%;
    padding: 15px;
    text-align: center;
}

#login .login-container .sem-conta {
	color: #989898;
}

#login .login-container a.link {
    color: white; /* Cor do texto */
	font-size: 14px;
}

#login .login-container a.link:hover {
    color: #1db954; /* Cor ao passar o mouse */
}

#login label {
	font-weight: bold;
}


/*************** Cor do texto digitado ***********/

input{
	color: rgb(255, 255, 255);
}


/****************** Conteúdo da Página Home *****************/

#home {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 95vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgb(0, 0, 0));
    color: white;
}

#home .home-container {
    background: rgba(0, 0, 0, 0.51);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
    text-align: center;
}

#home .home-container h2 {
    margin-bottom: 20px;
}

#home .home-container p {
    margin-bottom: 20px;
	font-size: 13px;
}

#home .btn-primary {
    width: 100%;
    padding: 15px;
    text-align: center;
}

#home .btn-primary:hover {
    background: var(--light-green);
    cursor: pointer;
}

/* Estilo específico para o botão Cadastre seu Endereço */
#home .btn-primary {
    margin-top: 20px;
	text-decoration: none; /* Remove o sublinhado */
	font-size: 12px;
}


/*************** Cadastro de Endereço ***********/

#cadastro-endereco {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 130vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.823), rgb(0, 0, 0));
    color: white;
}

#cadastro-endereco .cadastro-container {
    background: rgba(0, 0, 0, 0.51);
    padding: 40px;
    border-radius: 10px;
    width: 100%;
    max-width: 400px;
}

#cadastro-endereco .cadastro-container h2 {
    text-align: center;
    margin-bottom: 20px;
}

#cadastro-endereco .cadastro-form {
    display: flex;
    flex-direction: column;
}

#cadastro-endereco .cadastro-form .form-group {
    margin-bottom: 15px;
}

#cadastro-endereco .cadastro-form .form-group label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

#cadastro-endereco .cadastro-form .form-group input {
    background-color: rgba(0, 0, 0, 0);
    width: 100%;
    padding: 10px;
    border: 1px solid rgb(90, 90, 90);
    border-radius: 4px;
}

#cadastro-endereco .cadastro-form .form-group input:hover {
    color: white;
}

#cadastro-endereco .cadastro-form .form-group input[type="checkbox"] {
    width: auto;
    margin-right: 10px;
}

#cadastro-endereco .cadastro-form .form-group.terms {
    display: flex;
    align-items: center;
}

#cadastro-endereco .btn-primary {
    width: 100%;
    padding: 15px;
    text-align: center;
}

#cadastro-endereco label {
    font-weight: bold;
}

/*************** Cor do texto digitado ***********/

input {
    color: rgb(255, 255, 255);
}