<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="../js/cadastro.js"></script>
    <link rel="stylesheet" href="../css/style.css" />
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet" />
    <title>Inscrever-se - Spotify</title>
</head>
<body>
    <!-- Navbar -->
    <navbar id="navbar">
        <div class="navbar-container">
            <a href="../index.html"><img src="../img/logo.png" alt="Logo Spotify" class="logo" /></a>
            <ul class="navbar-items">
                <li><a href="https://www.spotify.com/br-pt/premium/" class="link">Premium</a></li>
                <li class="navbar-item">Ajuda</li>
                <li><a href="https://www.spotify.com/br/download/" class="link">Baixar</a></li>
                <li><a href="login.html" class="link">Entrar</a></li>
            </ul>
        </div>
    </navbar>

    <!-- Cadastro -->
    <div id="cadastro">
        <div class="cadastro-container">
            <h2>Se inscreva e <br> comece a curtir</h2>
            <form id="cadastro-form" class="cadastro-form">
                <div class="form-group">
                  <label for="name">Nome Completo</label>
                  <input
                    type="text"
                    class="input-field"
                    id="name"
                    name="name"
                    required
                  />
                  <i class="bx bx-user"></i>
                  <span id="name-error" style="display: none; color: red"
                    >Por favor, insira seu nome completo.</span
                  >
                  <script>
                    // Função para validar o nome completo
                    function validarNomeCompleto() {
                      var nameInput = document.getElementById('name')
                      var nameErrorSpan = document.getElementById('name-error')
    
                      // Verifica se o valor do campo contém pelo menos dois termos separados por um espaço
                      if (nameInput.value.split(' ').length < 2) {
                        // Mostra a mensagem de erro se o nome não for completo
                        nameErrorSpan.style.display = 'inline'
                      } else {
                        // Esconde a mensagem de erro se o nome for completo
                        nameErrorSpan.style.display = 'none'
                      }
                    }
    
                    // Adiciona um ouvinte de eventos para chamar a função de validação quando o campo de entrada é alterado
                    document
                      .getElementById('name')
                      .addEventListener('input', validarNomeCompleto)
                  </script>
                </div>
                <!--INPUT-BOX-->
                <div class="form-group">
                  <label for="lname">CPF ou CNPJ</label>
                  <input type="tel"
                    class="input-field"
                    id="cpf_cnpj"
                    name="cpf_cnpj"
                    maxlength="11"
                    required
                    pattern="\d*"
                    oninput="this.value = this.value.replace(/[^0-9]/g, '');"
                  />
                  <i class="bx bx-user"></i>
                </div>
                <!--INPUT-BOX-->
                <div class="form-group">
                  <label for="lname">E-mail</label>
                  <input
                    type="email"
                    class="input-field"
                    id="email"
                    name="email"
                    required
                  />
                  <i class="bx bx-envelope"></i>
                  <span id="email-error" style="display: none; color: red"
                    >Por favor, insira um e-mail válido.</span
                  >
                  <script>
                    // Função para validar o e-mail
                    function validarEmail() {
                      var emailInput = document.getElementById('email')
                      var emailErrorSpan = document.getElementById('email-error')
    
                      if (!emailInput.checkValidity()) {
                        // Mostra a mensagem de erro se o e-mail não for válido
                        emailErrorSpan.style.display = 'inline'
                      } else {
                        // Esconde a mensagem de erro se o e-mail for válido
                        emailErrorSpan.style.display = 'none'
                      }
                    }
    
                    // Adiciona um ouvinte de eventos para chamar a função de validação quando o campo de entrada é alterado
                    document
                      .getElementById('email')
                      .addEventListener('input', validarEmail)
                  </script>
                </div>
                <!--INPUT-BOX-->
                <div class="form-group">
                  <label for="lname">Data de Nascimento</label>
                  <input
                    type="date"
                    class="input-field"
                    id="birthday"
                    name="birthday"
                    required
                  />
                  <i class="bx bx-balloon"></i>
                </div>
                <!--INPUT-BOX-->
                <div class="form-group">
                  <label for="lname">Senha</label>
                  <input
                    type="password"
                    class="input-field"
                    id="password"
                    name="password"
                    required
                  />
                  <i class="bx bx-lock-alt"></i>
                </div>
                <!--INPUT-BOX-->
                <div class="label-term">
                  <label for="user_type">Concordo com os termos</label>
                  <select id="user_type" class="select-op" name="user_type">
                    <option value="1">Sim</option>
                    <option value="0">Não</option>
                  </select>
                </div>
                <!--LABEL-TERM-->
                <br>
                <div class="">
                  <input
                    type="button"
                    class="btn-primary"
                    value="Inscrever-se"
                    onclick="cadastroUsuario()"
                  />
                </div>
                <!--INPUT-BOX-->
              </form>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <div class="footer-content">
            <img src="../img/logo.png" alt="" class="logo" />
            <ul class="footer-menu">
                <p>Empresa</p>
                <li class="footer-menu-item">Sobre</li>
                <li class="footer-menu-item">Empregos</li>
                <li class="footer-menu-item">For the record</li>
            </ul>

            <ul class="footer-menu">
                <p>Comunidades</p>
                <li class="footer-menu-item">Para Artistas</li>
                <li class="footer-menu-item">Desenvolvedores</li>
                <li class="footer-menu-item">Marcas</li>
                <li class="footer-menu-item">Investidores</li>
                <li class="footer-menu-item">Fornecedores</li>
            </ul>

            <ul class="footer-menu">
                <p>Links úteis</p>
                <li class="footer-menu-item">Ajuda</li>
                <li class="footer-menu-item">Player da Web</li>
                <li class="footer-menu-item">Aplicativo móvel grátis</li>
            </ul>

            <div class="socials">
                <i class="fab fa-instagram"></i>
                <i class="fab fa-twitter"></i>
                <i class="fab fa-facebook-f"></i>
            </div>
        </div>
        <div class="footer-info">
            <ul class="footer-info-items">
                <li class="footer-info-item">Legal</li>
                <li class="footer-info-item">Centro de Privacidade</li>
                <li class="footer-info-item">Política de privacidade</li>
                <li class="footer-info-item">Cookies</li>
                <li class="footer-info-item">Sobre anúncios</li>
            </ul>

            <div class="rights">
                <div class="country">
                    <p>Brasil</p>
                    <img src="../img/brazil.png" alt="" class="brazil-flag" />
                </div>
                <p>&copy; 2024 Spotify AB</p>
            </div>
        </div>
    </footer>

</body>
</html>