<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../css/style.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto&display=swap" rel="stylesheet">
    <title>Home - Spotify</title>
</head>
<body>

    <!-- Navbar -->
    <navbar id="navbar">
        <div class="navbar-container">
            <a href="../index.html"><img src="../img/logo.png" alt="Logo Spotify" class="logo"></a>
        </div>
    </navbar>

    <!-- Conteúdo da Página Home -->
    <div id="home">
        <div class="home-container">
            <h2>Bem-vindo ao Spotify</h2>
            <p>Descubra novas músicas e compartilhe suas favoritas com seus amigos.</p> <br>
            <a href="./endereco.html" class="btn-primary">Cadastre seu Endereço</a>
            <!-- Lista de Endereços -->
            <div id="address-list"></div>
        </div>
    </div>

    <!-- Footer -->
    <footer id="footer">
        <!-- Conteúdo do footer -->
    </footer>

    <!-- Script JavaScript -->
    <script src="../js/home.js" defer></script>

</body>
</html>